@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: gray;
}

body {
    height: 100%;
}

.simple-scrollbar {
    margin: 0 auto;
    overflow-x: scroll;
    border-radius: 5px;
}

.simple-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.blurred-border {
    border-image: linear-gradient(
            to top,
            hsl(var(--nextui-default-50)) 0%,
            hsl(var(--nextui-default-300)) 20%,
            hsl(var(--nextui-default-300)) 80%,
            hsl(var(--nextui-default-50)) 100%
        )
        1;
}

.simple-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    width: 6px;
    border-radius: 5px;
}

.header {
    position: relative;
    line-height: 1.4;
    padding: 0.25em 1em;
    display: inline-block;
    top: 0;
}

.header:before,
.header:after {
    position: absolute;
    top: 0;
    content: "";
    width: 8px;
    height: 100%;
    display: inline-block;
}
.header:before {
    border-left: solid 1px var(--color);
    border-top: solid 1px var(--color);
    border-bottom: solid 1px var(--color);
    left: 0;
}
.header:after {
    content: "";
    border-top: solid 1px var(--color);
    border-right: solid 1px var(--color);
    border-bottom: solid 1px var(--color);
    right: 0;
}

.fade-in {
    animation: fade-in var(--duration) var(--easing) both;
}

.fade-out {
    opacity: 1;
    animation: fade-out var(--duration) linear both;
}

.fade-in-bottom {
    animation:
        slide-in-bottom var(--duration) ease-out both,
        fade-in var(--duration) ease-in both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(var(--distance));
    }
    to {
        transform: translateY(0);
    }
}
